# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/

# Go
bin/

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# ENV
.env
.worktrees

# Traces
traces/
